@{
    ViewData["Title"] = "Logout";
}

<div class="container my-5">
    <div class="text-center">
        <h2 class="display-4 mb-4">Logout Successful</h2>
        <p class="lead mb-4">You have been logged out successfully. We hope to see you again soon!</p>
        <a href="/" class="btn btn-primary btn-lg">Return to Home</a>
    </div>
</div>
